{% extends 'base.html.twig' %}

{% block title %}New Mangas{% endblock %}

{% block body %}
    <h1>Create new Mangas</h1>

    {{ include('mangas/_form.html.twig') }}

    <a href="{{ path('mangas_index') }}">back to list</a>
{% endblock %}
